@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.mobile-container {
    max-width: 375px; /* Mobile width */
    margin: 0 auto; /* Center the container */
    width: 100%; /* Make sure it fills the screen */
}
